<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./dist/style.css">
</head>

<body>
<div class="container home-screen">
    <div class="toolbar">
        <a href="#" class="logo">ETSY</a>
        <form>
            <input type="search">
            <input type="submit">
        </form>
    </div>
    <div class="grid grid-2-400 grid-4-800 grid-6-1024">
        <a href="#">
            <img src="https://img0.etsystatic.com/057/0/5613187/il_570xN.758019208_1tsg.jpg">
            <div>
                <span>Leather beer holder</span>
                <span>$price</span>
            </div>
        </a>
        <a href="#">
            <img src="https://img0.etsystatic.com/057/0/5613187/il_570xN.758019208_1tsg.jpg">
            <div>
                <span>Leather beer holder</span>
                <span>$price</span>
            </div>
        </a>
        <a href="#">
            <img src="https://img0.etsystatic.com/057/0/5613187/il_570xN.758019208_1tsg.jpg">
            <div>
                <span>Leather beer holder</span>
                <span>$price</span>
            </div>
        </a>
        <a href="#">
            <img src="https://img0.etsystatic.com/057/0/5613187/il_570xN.758019208_1tsg.jpg">
            <div>
                <span>Leather beer holder</span>
                <span>$price</span>
            </div>
        </a>
        <a href="#">
            <img src="https://img0.etsystatic.com/057/0/5613187/il_570xN.758019208_1tsg.jpg">
            <div>
                <span>Leather beer holder</span>
                <span>$price</span>
            </div>
        </a>
        <a href="#">
            <img src="https://img0.etsystatic.com/057/0/5613187/il_570xN.758019208_1tsg.jpg">
            <div>
                <span>Leather beer holder</span>
                <span>$price</span>
            </div>
        </a>
        <a href="#">
            <img src="https://img0.etsystatic.com/057/0/5613187/il_570xN.758019208_1tsg.jpg">
            <div>
                <span>Leather beer holder</span>
                <span>$price</span>
            </div>
        </a>
        <a href="#">
            <img src="https://img0.etsystatic.com/057/0/5613187/il_570xN.758019208_1tsg.jpg">
            <div>
                <span>Leather beer holder</span>
                <span>$price</span>
            </div>
        </a>
    </div>
</div>
    <script type="text/javascript" src="./dist/app-browserify.js"></script>
</body>

</html>
